body{
  font-family: monospace;
  color: white;
  text-align: center;
  background-color: #D1D0CE;
}
#statsModule{
  background-color: aqua;
  position: relative;
  color: fuchsia;
  margin-top: 10px;
}
#peopleModule{
  position: relative;
  top: 50%;
}

.del{
  color: white;
  font-family: sans-serif;
  font-size: 60%;
  background-color: #D1D0CE;
  padding: 5px;
  border-radius: 20px;
}
li{
  color:fuchsia;
  list-style: none;
  font-weight: bold;
  background-color: aqua;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}
